@charset "UTF-8";
/* CSS Document */
p {
	color:honeydew;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: indigo;
	padding: 20px;
	}
h2 , h1 {font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color:whitesmoke;
	background-color: mediumseagreen;

	}
body {
	background-image: url("Slike/poooz.jpeg")
	
	}
a { color: black;
	background-color: lightblue;
	padding: 5px;
	line-height: 25px;
	border: 1px #06132B;
	
	}
li , ol , ul {
	background-color: lightsteelblue;
	line-height: 18px;
	width: 600px;
	padding: 20px;
}
h1 , h2 {
	align-items: center;
	display: flex;
	justify-content: center;
}
img {
	height: 300px;
	width: 600;
	}
	
	